@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}   
       
       /* NAVBAR */
       .nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px 40px;
        /* margin-top: 10px; */
      }
        
      .nav .part-1 li ,.nav .part-2 li {
        display: inline;
        padding: 0px 0px;
        margin-right: 50px;
      }  
        
      .nav .part-1 {
        text-align: left;
      }
      
      .nav .part-1 li a,.nav .part-2 li a {
        text-decoration: none;
        color: #000;
        position: relative; 
      }
        
      .nav .part-2 {
        text-align: right;
      }
        
      .nav .part-1 li a::before,
      .nav .part-2 li a::before  {
        content: "";
        transition: all 0.3s ease-in-out;
        position: absolute;
        right: 50%;
        left: 50%;
        bottom: -5px;   
        border-bottom: 2px solid#000;
      }
        
      .nav .part-1 li:hover a::before ,.nav .part-2 li:hover a::before{
        right: 0;
        left: 0;
      }
      

    /* CONTENT  */

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    text-align: center;
    height: 90vh;
    margin: auto 5px;
}

.todo {
    border: 2px solid black;
    border-radius: 20px;
    /* background-color: #d8d5d5; */
}
.todo h4 {
    font-size: 22px;
    border-bottom: 1px solid black;
    padding: 20px;
    margin: 0;
    background-color: #424242;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.meeting {
    border: 2px solid black;
    border-radius: 20px;
    
}
.meeting h4 {
    font-size: 22px;
    border-bottom: 1px solid black;
    padding: 20px;
    margin: 0;
    background-color: #424242;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.meeting table {
    width: 100%;
    /* border: 2px solid pink; */

}

.meeting table th {
    font-size: 18px;
    padding: 15px;
    border: 1px solid black;
    margin: 0;
}
.meeting table td {
    padding: 10px;
    border: 0.1px dotted black;
}
.meeting table tr:nth-child(even) {
    background-color: #ededed;
}
.meeting table tr:nth-child(odd) {
    background-color: #f5f5f5;
}


.content .todo-detail table input {
    /* margin-top: 100px; */
    margin-left: 50px;
    /* border: 2px solid black; */
}

.content .todo-detail table {
    /* text-align: center; */
    margin: 10px auto;
    /* border: 2px solid red; */
}

.content .todo-detail table td {
    padding: 10px;
    /* margin: 20px; */
    /* border-bottom: 1px dotted #000; */
}

.

.fa {
    cursor: pointer;

}




        
    /* FOOTER  */

footer {
    text-align: center;
    margin: 2vh 0;
      
}