@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
* {
  /* margin: 0;
  padding: 0; */
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

/* NAVBAR */

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 40px;
  padding-top: 15px;
}

.nav .part-1 li,
.nav .part-2 li {
  display: inline;
  padding: 0px 0px;
  margin-right: 50px;
}

.nav .part-1 {
  text-align: left;
}

.nav .part-1 li a,
.nav .part-2 li a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.nav .part-2 {
  text-align: right;
}

.nav .part-1 li a::before,
.nav .part-2 li a::before {
  content: "";
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: -5px;
  border-bottom: 2px solid#000;
}

.nav .part-1 li:hover a::before,
.nav .part-2 li:hover a::before {
  right: 0;
  left: 0;
}

body {
  background-color: #d8d5d5;
  text-align: center;
}

.logo-section img {
  /* height: 250px; */
  width: 300px;
  /* border: 2px solid black; */
}
footer .footer-section {
  /* background-color: #000; */
  margin-top: 10vh;
}
.fixed_header {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.file-table {
  margin: auto 5vw;

}



.file-table table {
  /*width: 100%;*/
  text-align: center;
}
.fixed_header tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 400px;
}

.fixed_header thead tr {
  display: block;
}

.fixed_header thead {
  background: #3377ff;
  color: #fff;
}
.fixed_header table tbody td {
  /*border: 2px solid red;*/

}

.fixed_header th,
.fixed_header td {
  padding: 10px;
  text-align: left;
  width: 220px;
  
  text-align: center;
}
.fixed_header td {
  border: 1px dotted black;
}

.file-table table tbody tr:nth-child(even) {
  background-color: #ededed;
}
.file-table table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}


.status-pending {
  background: #8d8683;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid black;
}
.status-approved {
  background: #089b08;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid black;
}
.status-declined {
  background: #e73b07;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid black;
}
.stats {
  border: 1px solid black;
  border-radius: 10%;
  padding: 8px;
  font-size: 14px;
}
#newEntry {
  height: 50px;
  padding: 10px;
}
#newFile {
  height: 100%;
  width: 100px;
  float: center;
}
.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-content {
  width: 600px;
  height: 450px;
  background-color: #d8d5d5;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}
input {
  width: 50%;
  display: block;
  margin: 15px auto;
  background-color: #e0e0d1;
  border-radius: 4px;
}
.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}
